<style>
    .footer-bridge {
        background: url('{{repeat_ftr_bg_url}}');
        background-repeat: repeat-x;
        background-position: bottom;
    }
    .footer-content {
        background-color: #232325;
        color: rgba(220,220,220,1);
        
    }
    .footer-content > div {
        max-width: 1200px;
        margin: 0px auto;
    }
    .footer-content .logo {
        max-width: 30%;
    }

    .mb-neg{
        margin-bottom: -2.5rem;
    }

    .material-icons {
        font-size: 1.25rem;
    }
    .fa:hover {
        color: #BF021C
    }
    .question {
        justify-content: end;
    }

	@media only screen and (max-width: 1000px) {
        .footer-content .grid {
            grid-template-columns: none !important;
            justify-content: center;
            justify-items: center;
        }
        .copyright {
            text-align:center;
        }
    }
</style>
{% include  "menu-footer.twig" with {'items': menuFooter.get_items} %}
<footer class="text-white ovrflw-hdn">
    {# <div class="edge-bg-red w-full py-20 grid grid-cols-12 ml-64 px-12 diag mb-neg">
        <div class="col-span-5 flex flex-row gap-6">
            <div class="diag bg-white px-1">I</div>
            <div class="">
                <div class="text-sm letter-wider">ECONOMIC GROWTH UPDATES</div>
                <div class="text-2xl">Join The Cutting EDGE</div>
            </div> 
        </div>
        <div class="col-span-7">
            <div class="w-1/2">
                <div class="text-sm">Sign up for updates:</div>
                <div class="w-full py-2">
                    <input type="text" placeholder="Email" class="w-full p-2">
                </div>
                <div class="flex justify-end">
                    <button class="edge-btn-white px-12 py-2">Sign Up</button>
                </div>
            </div>
        </div>
    </div> #}
    <div class="footer-content pb-10 pt-16">
        <div class="grid grid-cols-2 gap-6">
            <div class="col-span-1 logo"><img loading="lazy" width="474" height="252" src="https://edge.saucebuild.com/wp/wp-content/uploads/2022/06/edge-logo.png" alt="EDGE logo" title="edge logo" srcset="https://edge.saucebuild.com/wp/wp-content/uploads/2022/06/edge-logo.png 474w, https://edge.saucebuild.com/wp/wp-content/uploads/2022/06/edge-logo-300x159.png 300w" sizes="(max-width: 474px) 100vw, 474px" class="wp-image-21"></div>
            <div class="col-span-1 flex flex-col items-end question">
                <div class="text-xl">Have a question?</div>
                <a id="contact-us" href="" class="flex items-center">
                    <div class="uppercase text-xs mt-1 letter-wider ">Contact Us </div>
                    <span class="material-icons edge-red">chevron_right</span>
                </a>
            </div>
            <div class="col-span-1 copyright">
                @2022 | <a class="edge-red" href="https://edge.saucebuild.com/wp/privacy-policy/">Privacy Policy</a> | <a class="edge-red" href="https://edge.saucebuild.com/wp/accessibility/">Accessibility</a>
                {# <br><br><a class="edge-red text-sm" href="https://www.saucemarketing.com/" target="_blank" rel="noopener">Built and Powered by Sauce</a> #}
            </div>
            <div class="col-span-1 text-right">
                <div class="flex flex-row gap-4 justify-end">
                    <div><a href="https://www.facebook.com/ecogrowthengine/" class="fa fa-facebook" title="Follow on Facebook" target="_blank"></a></div>
                    <div><a href="https://twitter.com/ecogrowthengine" class="fa fa-twitter" title="Follow on Twitter" target="_blank"></a></div>
                    <div><a href="https://www.linkedin.com/company/ecogrowthengine" class="fa fa-linkedin" title="Follow on LinkedIn" target="_blank"></a></div>
                    {#<div><a class="fa fa-youtube"></a></div>#}
                </div>
            </div>
        </div>
    </div>
</footer>

<script>
    $(document).ready(function(){
        $('#contact-us').attr('href', MAIN_SITE_URL + '/contact');
    });
</script>